<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/aboutus.css">
    <script src="https://kit.fontawesome.com/c08742ea51.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <nav>
        <figure class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Tvastra logo">
        </figure>
        <div id="nav-bar">
            <div class="navbar">
                <a href="./doctor.html">Doctors</a>
                <a href="./hospital.html">Hospital</a>
                <a href="#">Treatment</a>
                <a href="#">Our Services</a>
                <a href="#">About</a>
            </div>

            <div>
                <a href="./signin.html"><button class="login btn1">Login / Sign Up</button></a>
                <button class="btn btn1">Get a quote</button>
            </div>
        </div>
        <i class="fas fa-bars"></i>
    </nav>

    <section class="about_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg" alt="aboutus">
        <div class="title">
            <h1>Living healthy matters.</h1>
            <p>Our specialists aspire to bridge the gap between your benifit plan and the health needs</p>
        </div>
    </section>
    <section class="mid">
        <h2>You have to begin to tell the story of your life as you now want it tobe and discontinue the tales.</h2>
        <div class="para"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam alias
            voluptatem debitis inventore ipsa architecto. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam alias
            voluptatem debitis inventore ipsa architecto. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam alias
            voluptatem debitis inventore ipsa architecto. </p></div>
        <div class="sign">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
        </div>
        <div class="female_doctor">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="Female">
        </div>
    </section>
    <section class="abt_dtl">
        <section class="abt_dtl1">
            <h2>Your wellness builds upon the medical daily.</h2>
            <p>Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition
                and
                diet, an active lifestyle, and better relationship. </p>
            <button class="checkup btns">Get a Free Checkup</button>
        </section>
        <section class="abt_dtl2">
            <div class="numbers">
                <h3>12M</h3>
                <p>Happy Patients</p>
            </div>
            <div class="numbers">
                <h3>5K</h3>
                <p>Medical Assistants</p>
            </div>
            <div class="numbers">
                <h3>9.8</h3>
                <p>Alexa Score</p>
            </div>
            <div class="numbers">
                <h3>3.2K</h3>
                <p>Doctors Available</p>
            </div>
            <div class="numbers">
                <h3>45K</h3>
                <p>Cure Rate</p>
            </div>
            <div class="numbers">
                <h3>75</h3>
                <p>Health Points</p>
            </div>
        </section>
    </section>
    <section class="help">
        <h2>Join the team</h2>
        <p>We are always looking for good and talented people</p>
        <button class="btns">Submit your CV</button>
    </section>
    <footer>
        <figure class="logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                alt="Tvastra logo">
        </figure>
        <div class="links">
            <a href="./doctor.html">Doctor</a>
            <a href="./hospital.html">Hospital</a>
            <a href="#">Treatment</a>
            <a href="#">Other Services</a>
            <a href="#">FAQs</a>
        </div>
        <div class="followus">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
    <div class="lastline"></div>
</body>

</html>