<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="../css/aboutus.css">
</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>
    <section class="about_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg" alt="aboutus">
        <div class="title">
            <h1>Living healthy matters.</h1>
            <p>Our specialists aspire to bridge the gap between your benifit plan and the health needs</p>
        </div>
    </section>
    <section class="mid">
        <h2>You have to begin to tell the story of your life as you now want it tobe and discontinue the tales.</h2>
        <div class="para">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam
                alias
                voluptatem debitis inventore ipsa architecto. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam
                alias
                voluptatem debitis inventore ipsa architecto. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur iusto placeat assumenda numquam
                alias
                voluptatem debitis inventore ipsa architecto. </p>
        </div>
        <div class="sign">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
        </div>
        <div class="female_doctor">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="Female">
        </div>
    </section>
    <section class="abt_dtl_main">
        <video autoplay muted loop id="myVideo">
            <source
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4"
                type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <section class="abt_dtl">
            <section class="abt_dtl1">
                <h2>Your wellness builds upon the medical daily.</h2>
                <p>Find your best self here. Discover new ways to live an inspiring life through natural beauty,
                    nutrition
                    and
                    diet, an active lifestyle, and better relationship. </p>
                <button class="checkup skybluebtn btns">Get a Free Checkup</button>
            </section>
            <section class="abt_dtl2">
                <div class="numbers">
                    <h3>12M</h3>
                    <h6>Happy Patients</h6>
                </div>
                <div class="numbers">
                    <h3>5K</h3>
                    <h6>Medical Assistants</h6>
                </div>
                <div class="numbers">
                    <h3>9.8</h3>
                    <h6>Alexa Score</h6>
                </div>
                <div class="numbers">
                    <h3>3.2K</h3>
                    <h6>Doctors Available</h6>
                </div>
                <div class="numbers">
                    <h3>45K</h3>
                    <h6>Cure Rate</h6>
                </div>
                <div class="numbers">
                    <h3>75</h3>
                    <h6>Health Points</h6>
                </div>
            </section>
        </section>
    </section>
    <section class="help">
        <h2>Join the team</h2>
        <p>We are always looking for good and talented people</p>
        <button class="skybluebtn">Submit your CV</button>
    </section>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline"></div>
    <!-- <script src="../js files/index.js"></script> -->
</body>

</html>