<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dentistry</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/dentistry.css">
    <script src="https://kit.fontawesome.com/c08742ea51.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <nav>
        <figure class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Tvastra logo">
        </figure>
        <div id="nav-bar">
            <div class="navbar">
                <a href="./doctor.html">Doctors</a>
                <a href="./hospital.html">Hospital</a>
                <a href="#">Treatment</a>
                <a href="#">Our Services</a>
                <a href="#">About</a>
            </div>

            <div>
                <a href="./signin.html"><button class="login btn1">Login / Sign Up</button></a>
                <button class="btn btn1">Get a quote</button>
            </div>
        </div>
        <i class="fas fa-bars"></i>
    </nav>

    <section class="dent_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg"
            alt="Dentistry">
        <div class="title">
            <h1>Dentistry</h1>
            <h5><a href="index.html">Home</a> / <a href="dentistry.html">Dentistry</a></h5>
        </div>
    </section>
    <div class="main">
        <div class="vacc">
            <h1>Vaccination</h1>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="vaccination">

            <div class="abt_dent">
                <h2>About Dentist Department</h2>
                <p>
                    The vaccination of dentists against various vaccine-preventable infections is the most important
                    measure
                    of
                    primery prevention against such disease
                    which would otherwise prove fatal for both the denstist and their petients.
                </p>
                <ul>
                    <li>CF-related Diabeties (monthly)</li>
                    <li>Gastrointestinal (monthly)</li>
                    <li>CF-related lever disease (monthly)</li>
                    <li>Sweat Testing (three times per month)</li>
                </ul>
            </div>
        </div>
        <div class="types">
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-stethoscope'></i>
                </div>
                <h3>Central Nervous System</h3>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-tablets'></i>
                </div>
                <h3>Allergic Disorders</h3>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-heartbeat'></i>
                </div>
                <h3>Neoplastic Disorders</h3>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
        </div>
        <div class="card">
            <section class="cards">
                <h3>Service Details</h3>
                <div class="card_details">
                    <h5 class="prop">Price</h5>
                    <h5 class="value">from $340</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Duration</h5>
                    <h5 class="value">10 Minutes</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Office</h5>
                    <h5 class="value">#60</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Doctor</h5>
                    <h5 class="value">Dr. Elizabeth Beard</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Categories</h5>
                    <h5 class="value">Family Medicine</h5>
                </div>
                <hr>
            </section>
            <section class="cards">
                <h3>Schedule</h3>
                <div class="card_details">
                    <h5 class="prop">Tuesday</h5>
                    <h5 class="value">10:00am - 01:00pm</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Friday</h5>
                    <h5 class="value">07:00am - 10:00pm</h5>
                </div>
                <hr>
            </section>
        </div>
    </div>
    <section class="moreservice">
        <div>
            <h2>More Services</h2>
            <div class="arrows">
                <i class='fas fa-angle-left'></i>
                <i class='fas fa-angle-right'></i>
            </div>
        </div>
        <div class="figs">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                    alt="Orthopedic">
                <figcaption>
                    Orthopedic Surgery
                </figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                    alt="Cancer">
                <figcaption>
                    Cancer
                </figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                    alt="Cardiology">
                <figcaption>
                    Cardiology
                </figcaption>
            </figure>
        </div>
    </section>
    <footer>
        <figure class="logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                alt="Tvastra logo">
        </figure>
        <div class="links">
            <a href="./doctor.html">Doctor</a>
            <a href="./hospital.html">Hospital</a>
            <a href="#">Treatment</a>
            <a href="#">Other Services</a>
            <a href="#">FAQs</a>
        </div>
        <div class="followus">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
    <div class="lastline"></div>
</body>

</html>