<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dentistry</title>
    <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="../css/dentistry.css">
    
</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <section class="dent_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg"
            alt="Dentistry">
        <div class="title">
            <h1>Dentistry</h1>
            <h5><a href="index.html">Home</a> / <a href="dentistry.html">Dentistry</a></h5>
        </div>
    </section>
    <section class="main">
        <div class="vacc">
            <h2>Vaccination</h2>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="vaccination">

            <div class="abt_dent">
                <h3>About Dentist Department</h3>
                <p>
                    The vaccination of dentists against various vaccine-preventable infections is the most important
                    measure
                    of
                    primery prevention against such disease
                    which would otherwise prove fatal for both the denstist and their petients.
                </p>
                <ul class="desease">
                    <li>CF-related Diabeties (monthly)</li>
                    <li>Gastrointestinal (monthly)</li>
                    <li>CF-related lever disease (monthly)</li>
                    <li>Sweat Testing (three times per month)</li>
                </ul>
            </div>
        </div>
        <div class="types">
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-stethoscope'></i>
                </div>
                <h4>Central Nervous System</h4>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-tablets'></i>
                </div>
                <h4>Allergic Disorders</h4>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
            <div class="types1">
                <div class="symb">
                    <i class='fas fa-heartbeat'></i>
                </div>
                <h4>Neoplastic Disorders</h4>
                <p>Open visitation with only two visitors in a room anytime. No one under 12 years of age may.</p>
            </div>
        </div>
        <div class="card">
            <section class="cards">
                <h3>Service Details</h3>
                <div class="card_details">
                    <h5 class="prop">Price</h5>
                    <h5 class="value">from $340</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Duration</h5>
                    <h5 class="value">10 Minutes</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Office</h5>
                    <h5 class="value">#60</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Doctor</h5>
                    <h5 class="value">Dr. Elizabeth Beard</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Categories</h5>
                    <h5 class="value">Family Medicine</h5>
                </div>
                <hr>
            </section>
            <section class="cards">
                <h3>Schedule</h3>
                <div class="card_details">
                    <h5 class="prop">Tuesday</h5>
                    <h5 class="value">10:00am - 01:00pm</h5>
                </div>
                <hr>
                <div class="card_details">
                    <h5 class="prop">Friday</h5>
                    <h5 class="value">07:00am - 10:00pm</h5>
                </div>
                <hr>
            </section>
        </div>
    </section>
    <section class="moreservice">
        <div>
            <h2>More Services</h2>
            <div class="arrows">
                <i class='fas fa-angle-left' onclick="plusDivs(-1)"></i>
                <i class='fas fa-angle-right' onclick="plusDivs(1)"></i>
            </div>
        </div>
        <div class="figs">
            <div class="figures_treat">
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                        alt="Orthopedic">
                    <figcaption>
                        Orthopedic Surgery
                    </figcaption>
                </figure>
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="Cancer">
                    <figcaption>
                        Cancer
                    </figcaption>
                </figure>
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Cardiology
                    </figcaption>
                </figure>
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Infertility Treatments
                    </figcaption>
                </figure>
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Multi Organ Transplant
                    </figcaption>
                </figure>
                <figure class="figures figures1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Dentistry
                    </figcaption>
                </figure>
            </div>
            <div class="figures_treat">

                <figure class="figures figures2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="Cancer">
                    <figcaption>
                        Cancer
                    </figcaption>
                </figure>
                <figure class="figures figures2 ">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Cardiology
                    </figcaption>
                </figure>
                <figure class="figures figures2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Infertility Treatments
                    </figcaption>
                </figure>
                <figure class="figures figures2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Multi Organ Transplant
                    </figcaption>
                </figure>
                <figure class="figures figures2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Dentistry
                    </figcaption>
                </figure>
                <figure class="figures figures2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                        alt="Orthopedic">
                    <figcaption>
                        Orthopedic Surgery
                    </figcaption>
                </figure>
            </div>
            <div class="figures_treat">
                <figure class="figures figures3 ">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Cardiology
                    </figcaption>
                </figure>
                <figure class="figures figures3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Infertility Treatments
                    </figcaption>
                </figure>
                <figure class="figures figures3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Multi Organ Transplant
                    </figcaption>
                </figure>
                <figure class="figures figures3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="Cardiology">
                    <figcaption>
                        Dentistry
                    </figcaption>
                </figure>
                <figure class="figures figures3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                        alt="Orthopedic">
                    <figcaption>
                        Orthopedic Surgery
                    </figcaption>
                </figure>
                <figure class="figures figures3">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="Cancer">
                    <figcaption>
                        Cancer
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline"></div>
    <script src="../js files/slideshow.js"></script>
    <script src="../js files/index.js"></script>
</body>

</html>