<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQs</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/faq.css">
    <script src="https://kit.fontawesome.com/c08742ea51.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>
    <section class="cont_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="contactUs">
        <div class="title">
            <h1>FAQ</h1>
            <h5><a href="index.html">Home</a> / <a href="faq.html">FAQ</a></h5>
        </div>
    </section>
    <section class="main">
        <div class="details">
            <div class="menu">
                
                <h3>How do I make Payments?</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            <div class="menu">
                
                <h3>There is not enough money in my portrea Wallet for making a payment. What do I do?</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            
            <div class="menu">
                
                <h3>Can I transfer balance in Portea Wallet balance to another user?</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            
            <div class="menu">
                
                <h3>Is Portea money is same as Portea Balance? </h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            
            <div class="menu">
                
                <h3>Refund</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            
            <div class="menu">
                
                <h3>What is a Family ID?</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            
            <div class="menu">
                
                <h3>Who can be added as Family?</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>
            
            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
        </div>
    </section>
    <section class="help">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button class="skybluebtn">Submit your enquiry</button>
    </section>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline">
    </div>
    <script src="../js files/list-items.js"></script>
    <script src="../js files/index.js"></script>
</body>

</html>