<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hospital Profile </title>
    <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="../css/about-hospital.css">
    
</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <section class="cont_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="contactUs">
        <div class="title">
            <h1>About Apollo Hospital</h1>
            <h5><a href="home">Home</a> / <a href="hospital-details">Hospital Profile</a></h5>
        </div>
    </section>
    <section class="main">
        <div class="doctor">
            <figure>
                <img src="https://static.medigence.com/uploads/hospital/images/30fed7f3060a15cca3ce567930e69f66.jpg"
                    alt="Apollo Hospital">
            </figure>
            <button class='darkbluebtn btn'>Call Now</button>
        </div>
        <div class="details">
            <h2>
                Apollo Hospital
            </h2>
            <ul class="qualification">
                <li><i class="fas fa-map-marker-alt"></i><span>Delhi-Mathura Road, Sarita Vihar, Delhi,
                        110076</span></li>
                <li><i class="fas fa-bed"></i><span>100 Beds</span></li>
            </ul>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo odio impedit repellendus ullam,
                molestias sed amet dolorem error quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Perspiciatis delectus officia dicta, deserunt ipsum magni tempora, illo et porro expedita, dolor
                laboriosam perferendis atque adipisci earum doloribus est maxime enim?
            </p>

            <div class="menu">
                <i class="fas fa-award"></i>
                <h3>Specialization</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            <div class="menu">
                <i class="fas fa-stethoscope"></i>
                <h3>Famous Treatments</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-user-md"></i>
                <h3>Famous Doctors</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-hospital"></i>
                <h3>Infrastructure</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Complete Address</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-h-square"></i>
                <h3>Hospital Packages</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-rupee-sign"></i>
                <h3>Hospital Charges</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">
                <i class="fas fa-id-card"></i>
                <h3>Membership</h3>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

        </div>
    </section>
    <section class="help">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button class="skybluebtn">Submit your enquiry</button>
    </section>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline">
    </div>
    <script src="../js files/list-items.js"></script>
    <script src="../js files/index.js"></script>
</body>

</html>