<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tvastra Plus</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/tvastra-plus.css">
    <script src="https://kit.fontawesome.com/c08742ea51.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>

    <section class="hero">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp"
            alt="Tvastra plus">
        <div class="title">
            <button class="skybluebtn"> PLUS</button>
            <h1>Healthcare Plans for You and Your Family.</h1>
            <p>Become a Tvastra Plus member and save 60% off on your yearly health expenses</p>
        </div>
        <div class="plans">
            <h2>Select a Tvastra Plus Healthcare Plans</h2>
            <p> All Plus plans are for 4 Adults and 2 Children</p>
            <hr>
            <div id="plan">
                <div class="basic">
                    <h3>Basic Plan</h3>
                    <hr>
                    <p>
                        Unlimited Consultation with any speciality
                    </p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on tests & checkups</p>
                    <br><br><br><br><br><br>
                    <div class="buy">
                        <h3> &#8377 2999/year</h3>
                        <a href="#">
                            <h4>View Plans Details</h4>
                        </a>
                        <button class="skybluebtn">Buy Plan</button>
                    </div>

                </div>
                <div class="advanced">
                    <div class="pop"><span id="popular"> Popular</span></div>
                    <h3>Advanced Plan</h3>
                    <hr>
                    <p>
                        Unlimited Consultation with any speciality
                    </p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on tests & checkups</p>
                    <p>10 Free In-clinic Consultation</p>
                    <br><br>
                    <div class="buy">
                        <h3> &#8377 3999/year</h3>
                        <a href="#">
                            <h4>View Plans Details</h4>
                        </a>
                        <button class="skybluebtn">Buy Plan</button>
                    </div>

                </div>
                <div class="compre">
                    <h3>Comprehensive Plan</h3>
                    <hr>
                    <p>
                        Unlimited Consultation with any speciality
                    </p>
                    <p>20% off on prescription medicines</p>
                    <p>20% off on tests & checkups</p>
                    <p>10 Free In-clinic Consultation</p>
                    <p> 2 Master Health Checkups</p>
                    <div class="buy">
                        <h3> &#8377 5999/year</h3>
                        <a href="#">
                            <h4>View Plans Details</h4>
                        </a>
                        <button class="skybluebtn">Buy Plan</button>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section class="review">
        <h2>Trusted by 2 Crore+ users every month</h2>
        <p> Tvastra is leading healthcare techologu company in India. We began in 2009 and today we help 2 crore
            costumers every month.</p>
        <div class="review1">
            <div class="rating">
                <h2>4.5</h2>
                <div class="star">
                    <div class="stars inner">
                        <i class="fas fa-star" aria-hidden=" true"></i>
                        <i class="fas fa-star" aria-hidden=" true"></i>
                        <i class="fas fa-star" aria-hidden=" true"></i>
                        <i class="fas fa-star" aria-hidden=" true"></i>
                        <i class="fas fa-star" aria-hidden=" true"></i>
                    </div>
                    <div class="stars outer">
                        <i class="fa fa-star-o" aria-hidden=" true"></i>
                        <i class="fa fa-star-o" aria-hidden=" true"></i>
                        <i class="fa fa-star-o" aria-hidden=" true"></i>
                        <i class="fa fa-star-o" aria-hidden=" true"></i>

                        <i class="fa fa-star-o" aria-hidden=" true"></i>
                    </div>
                </div>

                <span>1000+ Reviews</span>
            </div>
            <div class="rating_bars">
                <div class="row">
                    <div class="side">
                        <div>5</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-5"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="side">
                        <div>4</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-4"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="side">
                        <div>3</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-3"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="side">
                        <div>2</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="side">
                        <div>1</div>
                    </div>
                    <div class="middle">
                        <div class="bar-container">
                            <div class="bar-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="achievements">
            <div class="achievement">
                <i class='fas fa-users'></i>
                <h3>2 Crore+</h3>
                <h5>Monthly Costumers</h5>
            </div>
            <div class="achievement">
                <i class='fas fa-user-md'></i>
                <h3>100,000+ </h3>
                <h5>Varified Doctors</h5>
            </div>
            <div class="achievement">
                <i class='fas fa-pills'></i>
                <h3>10 Lakh+ </h3>
                <h5>Medicine Order Delivered</h5>
            </div>
            <div class="achievement">
                <i class='fas fa-receipt'></i>
                <h3>5 Crore+ </h3>
                <h5>Doctor Appointments</h5>
            </div>
        </div>
    </section>
    <section class="benifits">
        <p class="title_p">Benifits of Plus Membership</p>
        <hr>
        <div class="clinic-hospital">
            <div class="zero-fees">
                <h2>Zero Fees for in-clinic Consultation</h2>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Consult with 30000+ doctors at top clinics & hospitals in the PLUS network at Rs.0 consulation
                        fees* </p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Upto 10 in-clinic consultations can be used by any fmily member over 12 month period.</p>
                </div>
            </div>
            <div class="top_hospital">
                <h3>Top Hospitals Onboarded</h3>
                <div class="logos">
                    <div class="logo logo1"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg"
                            alt="sakra"></div>
                    <div class="logo logo2"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
                            alt="Psri"></div>
                    <div class="logo logo3"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
                            alt="Artemis"></div>
                    <div class="logo logo4"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg"
                            alt="People Tree"></div>
                    <div class="logo logo5"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
                            alt="c k birla"></div>
                    <div class="logo logo6"><img
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
                            alt="pratiksha"></div>
                </div>
                <h5>+ More hospitals</h5>
            </div>
        </div>
    </section>
    <section class="facilities">
        <div class="facility1">
            <div class="paragraph">
                <h2>Unlimited online consulations with top doctors</h2>

                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Get all you health queries answered from any specialist online. Any time of the day</p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Connect under 2 minuntes in text, call or video available 24 hour, 7days of the week </p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>All online consultations are confidential. only pay=teint and the doctor a=can access the chat
                    </p>
                </div>
            </div>
            <div class="facility_img">
                <img src="https://futureofearth.online/wp-content/uploads/Twitter-copy-2.jpg" alt="doctor on call">
            </div>

        </div>
        <div class="facility2">
            <div class="paragraph">
                <h2>Flat 20% off on prescription medicines, lab tests & checkups</h2>

                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Get all you health queries answered from any specialist online. Any time of the day</p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Connect under 2 minuntes in text, call or video available 24 hour, 7days of the week </p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>All online consultations are confidential. only pay=teint and the doctor a=can access the chat
                    </p>
                </div>
            </div>
            <div class="facility_img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg"
                    alt="order">
            </div>

        </div>
        <div class="facility3">
            <div class="paragraph">
                <h2>2 free health checkups</h2>

                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Get all you health queries answered from any specialist online. Any time of the day</p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Connect under 2 minuntes in text, call or video available 24 hour, 7days of the week </p>
                </div>
                <div class="para">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>All online consultations are confidential. only pay=teint and the doctor a=can access the chat
                    </p>
                </div>
            </div>
            <div class="facility_img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg"
                    alt="checkup">
            </div>

        </div>

    </section>
    <section class="test_sec">
        <h5>60 Tests Included</h5>
        <div class="tests">
            <div class="test_div">
                <div class="test1 test_div1 ">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"
                            alt="">
                    </div>
                    <h4> Vitamin Profile</h4>
                    <h5> 2 Tests</h5>
                </div>
                <div class="test1 test_div1">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"
                            alt="">
                    </div>
                    <h4> Iron Deficiency Profile</h4>
                    <h5> 3 Tests</h5>
                </div>
            </div>
            <div class="test_div">
                <div class="test1 test_div2">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"
                            alt="">
                    </div>
                    <h4> Iron Deficiency Profile</h4>
                    <h5> 3 Tests</h5>
                </div>
                <div class="test1 test_div2">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"
                            alt="">
                    </div>
                    <h4> Thyroid Profile</h4>
                    <h5> 3 Tests</h5>
                </div>
            </div>
            <div class="test_div">
                <div class="test1 test_div3">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"
                            alt="">
                    </div>
                    <h4> Thyroid Profile</h4>
                    <h5> 3 Tests</h5>
                </div>
                <div class="test1 test_div3">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg"
                            alt="">
                    </div>
                    <h4> Liver Profile</h4>
                    <h5> 11 Tests</h5>
                </div>
            </div>
            <div class="test_div">
                <div class="test1 test_div4">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg"
                            alt="">
                    </div>
                    <h4> Liver Profile</h4>
                    <h5> 11 Tests</h5>
                </div>
                <div class="test1 test_div4">
                    <div class="test_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"
                            alt="">
                    </div>
                    <h4> Vitamin Profile</h4>
                    <h5> 2 Tests</h5>
                </div>
            </div>
        </div>
        <div class="dots">
            <div class="dot" onclick="changeDiv(1)"></div>
            <div class="dot" onclick="changeDiv(2)"></div>
        </div>
    </section>
    <section class="love">
        <div class="love_heading">
            <h2>Why we love Tvastra <span>PLUS</span></h2>
        </div>
        <div class="comments">
            <div class="comment1">
                <h5>"Wonderful experience with Tastra Plus it helped me in saving lot of amount as it provides free
                    consultation with best doctors"</h5>
                <div class="name">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                    <h4>Rishabh Tiwary</h4>
                    <h6>Advanced Plan user</h6>
                </div>
            </div>
            <div class="comment1">
                <h5>"Wonderful experience with Tastra Plus it helped me in saving lot of amount as it provides free
                    consultation with best doctors"</h5>
                <div class="name">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                    <h4>Mini Aggarwal</h4>
                    <h6>Comprehensive Plan user</h6>
                </div>
            </div>
            <div class="comment1">
                <h5>"Wonderful experience with Tastra Plus it helped me in saving lot of amount as it provides free
                    consultation with best doctors"</h5>
                <div class="name">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                    <h4>Prachi Gupta</h4>
                    <h6>Comprehensive Plan user</h6>
                </div>
            </div>
        </div>

    </section>
    <section class="main">
        <h2>Frequently Asked Questions</h2>
        <div class="details">
            <div class="menu">

                <h4>How does free in-clinic consultation with doctors and hospital work?</h4>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            <div class="menu">

                <h4>Are there any types of doctor not included in Tvastra plus Network?</h4>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

            <div class="menu">

                <h4>How do the unlimited online consulattion work?</h4>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            <div class="menu">

                <h4>How does flat 20% off on Medicines work? </h4>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>
            <div class="menu">

                <h4>How does 20% off on Lab test work? </h4>
                <div class="arrows">
                    <i class='fas fa-angle-up'></i>
                    <i class='fas fa-angle-down'></i>
                </div>
            </div>

            <p class="menu_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium odio aliquam
                praesentium. Ab, et
                saepe facilis fugit magnam quae explicabo aliquam laudantium inventore praesentium placeat fugiat nemo
                commodi consequatur deleniti.</p>

        </div>
    </section>

    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline"></div>
    <script src="../js files/list-items.js"></script>
    <script src="../js files/Plus-slideshow.js"></script>
    <script src="../js files/index.js"></script>
</body>

</html>