$light-blue : #6aa5cf;
$text-gray : #626060;
$dark-blue : #021433;
$btn-text: #eeeeee;
$text-blue : #0a7abb;
$inactive: #dddddd;
$text-white: #ffffff;
$shadow: #b7dfffb2;
$btn-bg: #0a7abb;
$bg-grd: linear-gradient(rgba(255, 255, 255,0) ,rgba(0, 0, 0, 1));
$bg-light: #e4e4e483;
$light-gray: #d1d0d0;
$sky-blue: #1758e2;
$lightgrey: #f0f0f0;
$redbtn: #fa8072;
$greenbtn: #8fbc8f;
$lightgreen: #b9f6c5;
$lightred: #ffccaa;
$lightblue: #ccddff;