$light-blue : #6aa5cf;
$text-gray : #626060;
$dark-blue : #021433;
$btn-text: #eeeeee;
$text-blue : #008dc5;
$inactive: #dddddd;
$text-white: #ffffff;
$shadow: #b7dfffb2;
$btn-bg: #0099ff;
$bg-grd: linear-gradient(rgba(255, 255, 255,0) ,rgba(0, 0, 0, 1));
$bg-light: #e4e4e483;
$light-gray: #d1d0d0;
$sky-blue: #1758e2;