@import "./colors.scss";
@import "./theme.scss";
.doc_top, .filter{
    visibility: hidden;
    display: none;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    span a{
        font-weight: 800;
        color: $text-gray;
    }
    .total_results{
        margin-bottom: 0;
    }
}
.total_results{
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}
#sort{
    align-self:end;
    font-size: 0.8rem;
    // margin: 1rem;
    position: relative;
    top: 0;
}
#sortbtn{
    padding: 0.5rem 3rem;
    background-color: $bg-light;
    justify-self: end;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.doc_main{
    padding: 0 1rem;
}

.qualification li {
   display: grid;
   grid-template-columns: 2.5rem auto;
   grid-template-areas: "icon details";
   margin: 0.5rem 0;
   .fas {
    position: relative;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    color: $text-blue;
    grid-area: icon;
    align-self: center;
}
}
.qualification li p {
    margin: 0;
    font-size: 1rem;
    grid-area: details;
    text-align: start;
    line-height: 1.4rem;
    
}

.doc_pro h3{
    text-align:  left ;
    margin-left: 0;
    margin-top: 1rem;
    color: $text-blue;
}
.doc_pro h3::before{
    content: "\2015\0A00\0A00";
    font-size: 2rem;
    font-weight: 900;
}


.doctor_list__container__col-2__card{
    border: 3px solid  $light-gray;
    margin-bottom: 1rem;
}
.doc_pro {
    
    padding: 0;
  
    height: 100%;
}
.doc_pro .btn{
    width:auto;
    display: flex;
    padding: 0.7rem 1rem;
    border-radius: 0;
    margin: 0.5rem auto;
    font-weight: 900;
   
}
.display_none{
    display: none;
}
.doc_pro a{
    height: 100vw;
    @media screen and (max-width: 767px){
        position: relative;
        top: 0.6rem;
    }
    
}
.doctor_list__container__col-1__filter-by__tags{
   padding: 1rem 0
}

.no_schedule{
    width: 100%;
    background-color: $bg-light;
    color: $text-blue;
    margin-bottom: 0;
    padding: 0.25rem 0;
}

.time-slots-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    .time-slots-header-controls{
        
        i{
            width: 2rem;
            height: 2rem;
            background: $bg-light;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0.25rem;
            cursor: pointer;     
            color: $text-blue;
            font-size: 1rem;
       }
    }
}
.time-slots-header-left-tablet, .time-slots-header-right-tablet {
    display: none;
}
.carousel-dates{
    width: 100%;
    
}
.slot-dates{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 85%;
    margin: 1rem auto;
    &:hover{
    border-bottom: 1px solid $text-blue;
   }
   &--active{
    border-bottom: 3px solid $text-blue;
   } 
//    transform: translateY(300%);
   
    .day-date{
        align-self: center;
        color: $dark-blue;
        font-size: 1.1rem;
    }
    .day-slots-available{
        align-self: center;
        color: $text-blue;
        font-family: $boldfont;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}
.time-slot-morning{
    border-bottom: 1px solid $light-gray;
}
.time-slot-day-wise-heading {
    padding: 1rem auto ;
   
    .para-1 {
        
        margin: 0.5rem
        

}
}
.time-slot-day-wise-slots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .slot{
        border: 1px solid $greenbtn ;
        text-transform: uppercase;
        padding: 0.5rem;
        margin: 0.5rem;
        color: $greenbtn;
        font-family: $lightfont;
        text-align: center;
        width: 6rem;
    }
}
.legend-item {
    color: $greenbtn;
    font-family: $boldfont;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.pagination{
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    li{  

        width: 1.75rem;
        height: 1.75rem;
        border: 2px solid $shadow;
        margin: 0.5rem;
        &:active{
            background-color: $light-blue;
        }
        &:hover{
            background-color: $shadow;
        }
    &:first-child, &:last-child{
        border: none;
        background: none;
    }
    }
    
}
@media only screen and (min-width: 768px){
    
    .doc_top{
        background:$light-blue;
        background-size: 100%;
        width: 100%;
        display: flex;
        visibility: visible;
        padding: 0;
        height: 15rem;
        background-position: center;
        position: relative;
    
    }
    .title{
        padding: 2rem 2rem 1rem;
        .total_results{
            margin-bottom: 0;
        }
    }
    span a{
        font-size: 1.2rem;
    }
    .doctors_list{
        padding-left:0 ;
        padding-top: 2rem;
        
    }
    .doc_top  img{
        object-fit:cover;
        opacity: 0.1;
        transform: scaleX(-1);
    }
    .doc_top h1{
        position: absolute;
        top: 6rem;
        left: 2rem;
        margin-bottom: 0;
        
        font-family: "Nexa-light" ;
    }
    .doc_cont{
        height: 2rem;
    }
    #sort{
        margin: 0;
        padding: 0 1rem 0 0;
    }
    #sortbtn {
        font-size: 1.2rem;
        padding: 0.75rem;
        border: none;
    }
    .doc_main {
        display: grid;
        grid-template-areas: "filter doctors";
        grid-template-columns: 28% auto !important;
    }
    .filter, .filt{
        visibility: visible;
        display: flex;
        flex-direction: column;
        grid-area: filter;
        padding-bottom: 0;
      
    }
   
    .filter{
        padding: 1rem 2rem 1rem 1rem ;
    }
    .filter h5 {
        background: $light-gray;
        padding: 1rem;
        margin: 1rem 0 0 0 ;
        text-align: start;
    }
    
    
    .filt span  {
        display: grid;
        grid-template-columns: 65% 25% 10%;
        margin: 1rem 0;
        background: none;
        padding: 0;
        border: none;
        color: $text-gray;
        font-weight: 900;
        font-size: 1rem;
        justify-self: end;
        h6{
            margin: 0;
            font-size: 1.1em;
            text-align: start;
            align-self: center;
            padding: 0.4rem 0 0 1rem;
            color: $text-gray;
    
        }
        i{
            font-size: 1rem;
        }
        .fa-minus{
          color: $light-gray;
        }
    }
    
    .filt div div{
        padding: 0.25rem 0 0.25rem 1rem;
        display: grid;
        grid-template-columns: 10% 90%;
    }
    .filt div label {
        line-height: 1.2rem;
        margin:0.25rem 0 0.25rem 1rem;
        
    }
    .filt div input{
        
        width: 1rem;
        height: 1rem;
        align-self: center;
        margin: 0.15rem 0;
    }
    .showmore, .fa-search{
        color: $text-blue;
    }
    .showmore{
        margin-top: 0.5rem;
        padding-left: 1rem;
        cursor: pointer;
    }
    hr{
        margin-top: 1rem;
        margin-right: 1rem;
        width: 100%;
        color: $text-gray;
     }
    
    .doc_pro{
        display: grid;
        grid-template-columns: auto 30%;
        grid-template-rows: 4rem auto 6rem;
        grid-template-areas: "name photo"
        "ul photo"
        "btn photo" ;
        height: auto;
    }
    .doc_pro h4{
        grid-area: name;
    }
    .doc_pro a{
        grid-area: photo; 
        width: 100%;
        height: 20rem;
    }
    .doc_pro ul {
        grid-area: ul;
        display: flex;
        flex-wrap: wrap ;
       
        li{
            width: 40%;
            margin-left: 1rem;
            p{
                align-self: center;
                margin-left: 1rem;
            }
            i{
                font-size: 1rem;
            }
        }
    }

    .doc_pro button {
        grid-area: btn;
    }
    .doc_pro .btn{
        width:70%;
        font-size: 1.2rem;
        margin: 0.5rem 2rem;
        font-weight: 900;
        justify-content: center;
        align-self: center;
    }
    label{
        color: $dark-blue;
        align-self: center;
    }

    .filter_button{
        border: 1px solid $text-blue;
        border-radius: 1rem;
        padding: .5rem;
        margin: 0.5rem !important;
        display: inline;
        // line-height: 3rem;
        white-space: nowrap;
        p{
            font-size: 1rem;
            font-family: $boldfont;
            color: $text-blue;
            display: inline-block;
        }
        button{
            background-color: $text-blue;
            border: none;
            border-radius: 50%;
            width: 1.5rem;
            position: relative;
            padding:0 ;
            // top: .2rem;
            i{
                position: relative;
                transform: translateY(10%);
                
                color: white;
                font-size: 1.2rem;
            }
        }
    }
    .current{
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    
    .time-slots-header{
        width: fit-content;
        height: 8rem ;
    }
    .time-slot-morning{
        display: grid;
        grid-template-columns: 20% 80%;
        align-content: center;
        align-items: center;
    }
    .slides{
        width: 100%;
       
    }
    .slot-dates{
        text-align: center;
        height: 3rem;
        width: 65%;
        min-width: 50%;
        margin: auto;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid #0000;
        will-change: transform;
        transition: 0.3s;
        cursor: pointer;
        // transform: translateX(-200%);
    }
    .time-slot-day-wise-slots{
        justify-content: flex-start;
    }
    .time-slots-header-left-mobile, .time-slots-header-right-mobile {
        display: none;
    }
    .time-slots-header-left-tablet, .time-slots-header-right-tablet {
        display: block;
    }
}






@media screen and (min-width: 1025px){
    .doc_top h1{
        left: 5rem;
    }
    .doc_pro{
        display: grid;
        grid-template-columns: auto 30%;
        grid-template-rows: 5rem auto 6.5rem;
        img{
            object-position: 20% 20%;
        }
        h3{
            margin-top: 2rem;
        }
    }
    .fa-bars{
        display: none;
        visibility: hidden;
    }
    .doc_cont {
        margin: 1rem 3rem;
        .total_results{
            margin-bottom: 0 !important;
        }

     }
    .doc_main {
        padding:1rem  6rem  1rem 4rem!important;

        grid-template-columns: 1fr 3fr;
    }
    .doctors_list{
        padding-top: 0;
    }
    .doc_pro ul{
        padding-left: 1rem;
        margin: 0.5rem;
        
    }
    .doc_pro .btn{
        width:40%;
        justify-self: start;
        font-size: 1rem;
        margin-left: 3rem;
    }
    .filter{
      padding-top: 0;
      h5{
          margin: 0;
      }
    }
    .filt div{
        grid-template-columns: 10% 90%;
    }
    
    .help h2, .help p {
        text-align: start;
    }
    footer{
        padding: 2rem 4rem;
    }
    footer p {
        font-family:sans-serif;
        font-weight: 200;
    }
   .pagination_cont{
       width: 100%;
       text-align: center;
       display: flex;
       justify-content: center;
       padding: auto;
   }
   .no_schedule{
   text-align: center;
}
.time-slots-header-controls i{
    font-size: 1rem;
}
.slot-dates{
   
    min-width: 33.3333% !important;

}

}



// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
// // *{
// //   margin: 0;
// //   padding: 0;
// //   box-sizing: border-box;
// //   font-family: 'Poppins', sans-serif;
// // }
// // body{
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   background: #20B2AA;
// //   min-height: 100vh;
// //   padding: 10px;
// // }
// .pagination_cont ul{
//     margin: auto 25%;
//     justify-self: center;
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   background: #fff;
//   padding: 8px;
//   border-radius: 50px;
//   box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
// }
// .pagination_cont ul li{
//   color: #20B2AA;
//   list-style: none;
//   line-height: 45px;
//   text-align: center;
//   font-size: 18px;
//   font-weight: 500;
//   cursor: pointer;
//   user-select: none;
//   transition: all 0.3s ease;
// }
// .pagination_cont ul li.numb{
//   list-style: none;
//   height: 45px;
//   width: 45px;
//   margin: 0 3px;
//   line-height: 45px;
//   border-radius: 50%;
// }
// .pagination_cont ul li.numb.first{
//   margin: 0px 3px 0 -5px;
// }
// .pagination_cont ul li.numb.last{
//   margin: 0px -5px 0 3px;
// }
// .pagination_cont ul li.dots{
//   font-size: 22px;
//   cursor: default;
// }
// .pagination_cont ul li.btn{
//   padding: 0 20px;
//   border-radius: 50px;
// }
// .pagination_cont li.active,
// .pagination_cont ul li.numb:hover,
// .pagination_cont ul li:first-child:hover,
// .pagination_cont ul li:last-child:hover{
//   color: #fff;
//   background: #20B2AA;
// }
