@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #008dc5;
  color: #eeeeee;
  border: 2px solid #008dc5;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #008dc5;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
.cont_top {
  width: 100%;
  padding: 0;
  position: relative;
  height: 15rem;
}

.cont_top img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1, .title h5, .title h5 a {
  color: #ffffff;
  font-weight: 900;
}

iframe {
  padding: 5%;
  width: 90%;
  height: 15rem;
}

.con_det {
  display: grid;
  padding: 0;
  grid-template-columns: 20% auto;
  grid-row: 60% 40%;
  height: auto;
  grid-template-areas: "icon heading" "icon details";
}

.con_det i {
  grid-area: icon;
  color: #008dc5;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
}

.con_det h4 {
  grid-area: heading;
  text-align: start;
  margin: 0.2rem;
}

.con_det p {
  grid-area: details;
  text-align: start;
  margin: 0.2rem;
}

.contact_details {
  padding: 1rem;
}

#det_form {
  padding: 0;
}

#qurform {
  padding: 1rem;
  background-color: #6aa5cf;
  display: grid;
  position: relative;
  height: auto;
}

#sbmt {
  justify-self: right;
  background-color: #008dc5;
  color: #ffffff;
  border: 2px solid #008dc5;
  width: 10rem;
  font-weight: 800;
  margin: 0.25rem 0;
}

hr {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact_details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    justify-items: center;
    margin: 0;
    padding: 1rem 5%;
  }

  .con_det {
    grid-template-columns: auto auto;
    grid-row: auto auto;
    height: auto;
  }

  .con_det i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  iframe {
    padding: 1.2rem 4%;
    width: 92%;
    height: 15rem;
  }

  #qurform {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "name msg" "email msg" "subj msg" ". sbmt";
    gap: 0.5rem;
    padding: 1rem 2rem;
  }

  #name {
    grid-area: name;
  }

  #email {
    grid-area: email;
  }

  #subject {
    grid-area: subj;
  }

  #msg {
    grid-area: msg;
  }

  #sbmt {
    grid-area: sbmt;
  }

  #qurform input {
    margin: 0;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    padding-left: 5rem;
    width: 90%;
    height: 100%;
  }

  .title h5 {
    text-align: start;
  }

  iframe {
    height: 20rem;
    margin-top: 1.1rem;
  }

  #det_form {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 1rem 5%;
  }

  .contact_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 1rem 0;
  }

  hr {
    display: block;
  }

  footer {
    padding: 2rem 4rem;
  }
}/*# sourceMappingURL=contactus.css.map */