@charset "UTF-8";
@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

select {
  background-color: white;
  font-family: "Nexa-light";
  font-size: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #008dc5;
  color: #eeeeee;
  border: 2px solid #008dc5;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #008dc5;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input, select {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button, select {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
.cont_top {
  width: 100%;
  padding: 0;
  position: relative;
  height: 15rem;
  display: flex;
  align-content: center;
}

.cont_top img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
}

.title {
  width: 100%;
  padding: 0;
  position: absolute;
  bottom: 25%;
}

.title h1, .title h5, .title h5 a {
  color: #ffffff;
  font-weight: 900;
}

.main {
  margin: 1rem;
  padding: 0;
  border: 2px solid #d1d0d0;
}

.doctor {
  padding: 0.5rem;
}

.darkbluebtn {
  border-radius: 0;
  width: 100%;
  margin: 0.5rem 0;
  font-weight: 800;
}

.details {
  padding: 0;
  padding-bottom: 1rem;
}
.details h2 {
  margin: 1rem 0;
  color: #008dc5;
  text-align: start;
}
.details h2::before {
  content: "─";
  font-size: 2rem;
}
.details p {
  margin: 1rem;
  text-align: justify;
  word-wrap: break-word;
}
.details hr {
  margin: 0 0.5rem;
  border: 1px dashed #d1d0d0;
}
.details .menu {
  display: grid;
  grid-template-columns: 1.5rem auto 10%;
  color: #008dc5;
  padding: 0.5rem;
}
.details .menu i {
  color: #008dc5;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  align-self: center;
}
.details .menu .arrows {
  justify-self: end;
}
.details .menu .fa-angle-up, .details .menu .fa-angle-down {
  background: #b7dfffb2;
  margin-top: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  cursor: pointer;
  align-self: center;
}
.details .menu .fa-angle-up::before, .details .menu .fa-angle-down::before {
  justify-self: center;
  margin: 25%;
  position: relative;
  top: 0.2em;
}
.details .menu h5 {
  margin: 0.4rem;
  color: #008dc5;
  text-align: start;
  align-self: center;
}
.details .menu_para {
  margin: 0 0.5rem;
  text-align: start;
  background: #b7dfffb2;
  padding: 0.5rem;
  -webkit-animation: scrolling 1.5s;
          animation: scrolling 1.5s;
}
@-webkit-keyframes scrolling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scrolling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.details .menu_para .detail-tag {
  font-family: "Nexa-light";
}

@media screen and (min-width: 768px) {
  .title {
    position: absolute;
    bottom: 22.5%;
  }

  .main {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: "details doctor";
    margin: 2rem;
    padding: 0.5rem;
  }

  .details {
    grid-area: details;
  }

  .doctor {
    grid-area: doctor;
  }
  .doctor .darkbluebtn {
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .details h2 {
    margin-left: -0.5rem;
  }
  .details h2::before {
    font-size: 2rem;
    font-weight: 900;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    width: auto;
    padding: 0 5rem;
  }
  .title h5 {
    text-align: start;
  }

  .main {
    margin: 3rem 5rem;
    padding: 2rem;
    grid-template-columns: 75% 25%;
  }

  .menu {
    grid-template-columns: 2rem auto 10% !important;
  }
  .menu i {
    font-size: 1.2rem !important;
  }

  .details h2 {
    margin-left: -2rem;
  }
  .details h2::before {
    font-size: 3rem;
    font-weight: 900;
  }

  .help h2 {
    margin-left: 0;
  }

  .help p {
    text-align: start;
    margin-left: 0;
  }

  footer {
    margin: 0;
    padding: 3rem 5rem;
  }
}/*# sourceMappingURL=doctor's profile.css.map */