@charset "UTF-8";
@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #008dc5;
  color: #eeeeee;
  border: 2px solid #008dc5;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #008dc5;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
.doc_top, .filter {
  visibility: hidden;
  display: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.title span a {
  font-weight: 800;
  color: #626060;
}

#sort {
  align-self: end;
  font-size: 0.8rem;
  position: relative;
  top: 0;
}

#sortbtn {
  padding: 0.5rem;
  background-color: #d1d0d0;
  justify-self: end;
  border: none;
}

.doc_main {
  padding: 0 1rem;
}

.qualification li {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-areas: "icon details";
  margin: 0.5rem 0;
}
.qualification li .fas {
  position: relative;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #008dc5;
  grid-area: icon;
  align-self: center;
}

.qualification li p {
  margin: 0;
  font-size: 1rem;
  grid-area: details;
  text-align: start;
  line-height: 1.4rem;
}

.doc_pro h3 {
  text-align: left;
  margin-left: 0;
  margin-top: 1rem;
  color: #008dc5;
}

.doc_pro h3::before {
  content: "―਀਀";
  font-size: 2rem;
  font-weight: 900;
}

.doc_pro {
  border: 3px solid #d1d0d0;
  padding: 0;
  margin-bottom: 1rem;
  height: 100%;
}

.doc_pro .btn {
  width: auto;
  display: flex;
  padding: 0.7rem 1rem;
  border-radius: 0;
  margin: 0.5rem auto;
  font-weight: 900;
}

.display_none {
  display: none;
}

.doc_pro a {
  height: 100vw;
}
@media screen and (max-width: 767px) {
  .doc_pro a {
    position: relative;
    top: 0.6rem;
  }
}

.doctor_list__container__col-1__filter-by__tags {
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .doc_top {
    background: #6aa5cf;
    background-size: 100%;
    width: 100%;
    display: flex;
    visibility: visible;
    padding: 0;
    height: 15rem;
    background-position: center;
    position: relative;
  }

  .title {
    padding: 2rem 2rem 1rem;
  }

  span a {
    font-size: 1.2rem;
  }

  .doctors_list {
    padding-left: 0;
  }

  .doc_top img {
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.1;
    transform: scaleX(-1);
  }

  .doc_top h1 {
    position: absolute;
    top: 6rem;
    left: 2rem;
    margin-bottom: 0;
    font-family: "Nexa-light";
  }

  .doc_cont {
    height: 2rem;
  }

  #sort {
    margin: 0;
    padding: 0 1rem 0 0;
  }

  #sortbtn {
    font-size: 1.2rem;
    padding: 0.75rem;
    border: none;
  }

  .doc_main {
    display: grid;
    grid-template-areas: "filter doctors";
    grid-template-columns: 28% 72% !important;
  }

  .filter, .filt {
    visibility: visible;
    display: flex;
    flex-direction: column;
    grid-area: filter;
    padding-bottom: 0;
  }

  .filter {
    padding: 1rem 2rem 1rem 1rem;
  }

  .filter h5 {
    background: #d1d0d0;
    padding: 1rem;
    margin: 1rem 0 0 0;
    text-align: start;
  }

  .filt span {
    display: grid;
    grid-template-columns: 65% 25% 10%;
    margin: 1rem 0;
    background: none;
    padding: 0;
    border: none;
    color: #626060;
    font-weight: 900;
    font-size: 1rem;
    justify-self: end;
  }
  .filt span h6 {
    margin: 0;
    font-size: 1.1em;
    text-align: start;
    align-self: center;
    padding: 0.4rem 0 0 1rem;
    color: #626060;
  }
  .filt span i {
    font-size: 1rem;
  }
  .filt span .fa-minus {
    color: #d1d0d0;
  }

  .filt div div {
    padding: 0.25rem 0 0.25rem 1rem;
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .filt div label {
    line-height: 1.2rem;
    margin: 0.25rem 0 0.25rem 1rem;
  }

  .filt div input {
    width: 1rem;
    height: 1rem;
    align-self: center;
    margin: 0.15rem 0;
  }

  .showmore, .fa-search {
    color: #008dc5;
  }

  .showmore {
    margin-top: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
  }

  hr {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 100%;
    color: #626060;
  }

  .doc_pro {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 4rem auto 6rem;
    grid-template-areas: "name photo" "ul photo" "btn photo";
    height: auto;
  }

  .doc_pro h4 {
    grid-area: name;
  }

  .doc_pro a {
    grid-area: photo;
    width: 100%;
    height: 20rem;
  }

  .doc_pro ul {
    grid-area: ul;
    display: flex;
    flex-wrap: wrap;
  }
  .doc_pro ul li {
    width: 40%;
    margin-left: 1rem;
  }
  .doc_pro ul li p {
    align-self: center;
    margin-left: 1rem;
  }
  .doc_pro ul li i {
    font-size: 1rem;
  }

  .doc_pro button {
    grid-area: btn;
  }

  .doc_pro .btn {
    width: 70%;
    font-size: 1.2rem;
    margin: 0.5rem 2rem;
    font-weight: 900;
    justify-content: center;
    align-self: center;
  }

  label {
    color: #021433;
    align-self: center;
  }

  .filter_button {
    border: 1px solid #008dc5;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem !important;
    display: inline;
    white-space: nowrap;
  }
  .filter_button p {
    font-size: 1rem;
    font-family: "Nexa-bold";
    color: #008dc5;
    display: inline-block;
  }
  .filter_button button {
    background-color: #008dc5;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    position: relative;
    padding: 0;
  }
  .filter_button button i {
    position: relative;
    color: white;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1025px) {
  .doc_top h1 {
    left: 5rem;
  }

  .doc_pro {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 5rem auto 6.5rem;
  }
  .doc_pro img {
    -o-object-position: 20% 20%;
       object-position: 20% 20%;
  }
  .doc_pro h3 {
    margin-top: 2rem;
  }

  .fa-bars {
    display: none;
    visibility: hidden;
  }

  .doc_cont {
    margin: 1rem 3rem;
  }

  .doc_main {
    padding-left: 4rem;
    grid-template-columns: 28% 72%;
  }

  .doctors_list {
    padding-top: 0;
  }

  .doc_pro ul {
    padding-left: 1rem;
    margin: 0.5rem;
  }

  .doc_pro .btn {
    width: 40%;
    justify-self: start;
    font-size: 1rem;
    margin-left: 3rem;
  }

  .filter {
    padding-top: 0;
  }
  .filter h5 {
    margin: 0;
  }

  .filt div {
    grid-template-columns: 10% 90%;
  }

  .help h2, .help p {
    text-align: start;
  }

  footer {
    padding: 2rem 4rem;
  }

  footer p {
    font-family: sans-serif;
    font-weight: 200;
  }
}/*# sourceMappingURL=doctor.css.map */