@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #008dc5;
  color: #eeeeee;
  border: 2px solid #008dc5;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #008dc5;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
.onboarding-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  background-color: #6aa5cf;
}

.doctor_onboarding_container {
  width: 75%;
  margin-top: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  grid-gap: 1rem;
}
@media (min-width: 768px) {
  .doctor_onboarding_container {
    width: 30rem;
  }
}

.doctor_onboarding_heading_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}

.para-1 {
  margin-bottom: 0;
}

.doctor_onboarding_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.doctor_onboarding_title h5 {
  font-family: "Nexa-bold";
  text-align: center;
  color: #008dc5;
  margin: 0 0 2rem 0;
}

.doctor_onboarding_form_container {
  width: 100%;
}
.doctor_onboarding_form_container .doctor_onboarding_form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  border: none;
}
.doctor_onboarding_form_container .form_container__form__input_field, .doctor_onboarding_form_container .upload_display_picture_container {
  display: flex;
  flex-direction: column;
}
.doctor_onboarding_form_container .form_container__form__input_field label, .doctor_onboarding_form_container .upload_display_picture_container label {
  font-family: "Nexa-bold";
  color: #008dc5;
  margin-bottom: 0.5rem;
}
.doctor_onboarding_form_container .form_container__form__input_field input, .doctor_onboarding_form_container .upload_display_picture_container input {
  border-color: #d1d0d0;
  font-family: "Nexa-bold";
  padding: 0.5rem 0.75rem;
}
.doctor_onboarding_form_container .form_container__form__input_field input::-moz-placeholder, .doctor_onboarding_form_container .upload_display_picture_container input::-moz-placeholder {
  color: #626060;
  opacity: 0.4;
  font-size: 1rem;
}
.doctor_onboarding_form_container .form_container__form__input_field input:-ms-input-placeholder, .doctor_onboarding_form_container .upload_display_picture_container input:-ms-input-placeholder {
  color: #626060;
  opacity: 0.4;
  font-size: 1rem;
}
.doctor_onboarding_form_container .form_container__form__input_field input::placeholder, .doctor_onboarding_form_container .upload_display_picture_container input::placeholder {
  color: #626060;
  opacity: 0.4;
  font-size: 1rem;
}

.upload_display_picture_container input {
  border: none;
  padding: 0;
}

.doctor_onboarding_para p {
  text-align: center;
  font-family: "Nexa-light";
}

#login {
  width: 100%;
}

.btn {
  margin-top: 0.25rem !important;
}/*# sourceMappingURL=Doctor_onboarding.css.map */