@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

select {
  background-color: white;
  font-family: "Nexa-light";
  font-size: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #008dc5;
  color: #eeeeee;
  border: 2px solid #008dc5;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #008dc5;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input, select {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button, select {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
#full {
  background-color: #6aa5cf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.formcont {
  background-color: white;
  margin: 3rem 1rem;
  padding: 2rem 0;
  height: auto;
  width: 90%;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 1rem #626060;
}
.formcont h1 {
  width: 100%;
  margin-bottom: 2rem;
  color: #008dc5;
}

.signinform {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.signinform input, textarea {
  border: 2px solid #d1d0d0;
  padding: 1rem;
  margin: 0.5rem 0;
}

.signinform .btn {
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 0.5rem 0;
}

footer {
  display: flex;
  background: #6aa5cf;
  padding-bottom: 2rem;
}
footer h6 {
  margin: 0;
}

.arrow {
  color: #ffffff;
  position: relative;
  bottom: 3.2rem;
  left: 92%;
  width: 1rem;
}

.fa-question-circle {
  position: relative;
  top: 3rem;
  color: #d1d0d0;
  left: 92%;
  width: 1rem;
}

#login {
  font-family: "Nexa-bold";
  font-weight: 900;
  letter-spacing: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .formcont {
    width: 60%;
    height: auto;
  }

  .btn {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .formcont {
    width: 50%;
    height: auto;
  }

  h1 {
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem 0;
  }

  .btn {
    font-size: 1.2rem;
  }

  .arrow {
    font-size: 1.2rem;
    bottom: 3.4rem;
  }

  .signinform input, #gender {
    padding: 1rem;
    padding-right: 2rem;
  }

  .signinform .btn {
    padding: 1rem;
  }

  .arrow {
    bottom: 2.75rem;
    font-size: 1rem;
  }

  input, textarea {
    border-width: 4px !important;
  }

  .fa-question-circle {
    top: 2.4rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=query.css.map */