@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}
* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa-bold";
  color: #021433;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

p, li {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.3rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  font-size: 1rem;
  line-height: 1.4rem;
}

input,
button {
  font-family: "Nexa-light";
  padding: 0.75rem;
  outline: none;
  letter-spacing: 0.05rem;
}

select {
  background-color: white;
  font-family: "Nexa-light";
  font-size: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

.whitebtn {
  background-color: #ffffff;
  color: #021433;
  border-radius: 0.3rem;
}

.darkbluebtn {
  background-color: #021433;
  color: #eeeeee;
  border: 2px solid #021433;
  border-radius: 0.3rem;
}

.skybluebtn {
  background-color: #0a7abb;
  color: #eeeeee;
  border: 2px solid #0a7abb;
  border-radius: 0.3rem;
}

select {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.8rem;
  font-family: "Nexa-light";
  letter-spacing: 0.05rem;
  color: #021433;
}

i {
  font-size: 0.85rem;
  color: #021433;
}

section, footer {
  padding: 2rem 1rem;
}

figcaption {
  font-family: "Nexa-bold";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #0a7abb;
}

nav {
  padding: 1rem;
}

form {
  display: flex;
}

textarea {
  font-family: "Nexa-light";
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  outline: none;
}

label {
  font-family: "Nexa-light";
  color: #021433;
  letter-spacing: 0.05rem;
}

span {
  font-family: "Nexa-bold";
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  input, select {
    font-size: 0.85rem;
    line-height: 1rem;
    margin: 0.25rem;
    padding: 0.75rem;
  }

  button {
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: 900;
  }

  select {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    line-height: 2rem;
  }

  i {
    font-size: 1rem;
  }

  section {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.2rem;
  }

  nav {
    padding: 1rem 2rem;
  }

  footer {
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    font-size: 1.2rem;
  }

  section {
    padding: 4rem 5rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  input,
button, select {
    font-size: 0.9rem;
    margin: 0.25rem;
    padding: 0.75rem;
    line-height: 1.2rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 1rem;
  }

  header {
    height: 5rem;
    padding: 0 !important;
  }

  footer {
    padding: 3rem 5rem;
  }
}
.admin_sidebar .menu li:nth-child(2) {
  background: none;
  border-left: none;
}
.admin_sidebar .menu li:nth-child(2) a {
  color: #021433;
  font-family: "Nexa-light";
}

.admin_sidebar .menu li:nth-child(4) {
  background-color: #d1d0d0;
  border-left: 5px solid #0a7abb;
}
.admin_sidebar .menu li:nth-child(4) a {
  color: #0a7abb;
  font-family: "Nexa-bold";
}

.dashboard_content {
  padding: 1rem;
  margin: 0.5rem !important;
}

.heading_and_button {
  display: flex;
  flex-direction: column;
}
.heading_and_button h3 {
  text-align: left;
}
.heading_and_button .skybluebtn {
  padding: 0.75rem 1rem;
  color: white;
}

.schedule_appointment_container {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.schedule_appointment_container form {
  padding: 1rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 25rem;
  background-color: #f0f0f0;
}
.schedule_appointment_container form .hospital_list_input {
  background-color: white;
}
.schedule_appointment_container form .start_end_times {
  display: grid;
  width: 100%;
  grid-template-areas: "start end" "small small";
  grid-template-columns: 50% 50%;
}
.schedule_appointment_container form .start_end_times .startTime {
  grid-area: start;
}
.schedule_appointment_container form .start_end_times .endTime {
  grid-area: end;
}
.schedule_appointment_container form .start_end_times small {
  grid-area: small;
  font-family: "Nexa-light";
  color: red;
  font-size: 0.85rem;
}
.schedule_appointment_container form .start_end_times input {
  width: 85%;
}

.editing {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.editing label {
  font-family: "Nexa-bold";
  margin-bottom: 0.3rem;
}
.editing input, .editing select {
  border: 2px solid #d1d0d0;
  padding: 0.5rem 0.75rem;
  margin: 0;
}
.editing input:focus, .editing select:focus {
  border-color: #0a7abb !important;
}
.editing .tagify {
  border-width: 2px;
}
.editing select {
  outline: none;
  padding: 0.65rem 0.75rem;
  margin: 0;
}
.editing input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 0.7rem;
}

.allslots {
  margin: 1rem 0 !important;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e483;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}
.allslots .scheduled_slots__slot {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.allslots .scheduled_slots__slot .scheduled_slots__day {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: #0a7abb;
  font-size: 1.2rem;
}
.allslots .scheduled_slots__slot .scheduled_slots__hospital_and_time {
  display: flex;
  flex-direction: column;
}
.allslots .scheduled_slots__slot .scheduled_slots__hospital_and_time .scheduled_slots__hospital {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: #021433;
  font-size: 1.2rem;
}
.allslots .scheduled_slots__slot .scheduled_slots__hospital_and_time .scheduled_slots__time {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.allslots .scheduled_slots__slot .scheduled_slots__hospital_and_time .scheduled_slots__time span {
  color: #021433;
  text-transform: uppercase;
  font-family: monospace;
}
.allslots .scheduled_slots__slot .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.allslots .scheduled_slots__slot .buttons button {
  margin: 0.25rem;
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
  border-radius: 0;
}
.allslots .scheduled_slots__slot .buttons input {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
}

.time-slots {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.time-slots .slot_container {
  background-color: white;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-family: monospace;
  text-transform: uppercase;
}
.time-slots .slot_container--disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .dashboard_content {
    width: auto !important;
    margin: 2rem !important;
    padding: 2rem;
  }

  .heading_and_button {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .heading_and_button h3 {
    margin-bottom: 0;
  }

  .allslots .scheduled_slots__slot {
    display: grid;
    grid-template-columns: 25% 35% 40%;
  }
  .allslots .buttons {
    justify-self: flex-end;
  }
  .allslots .scheduled_slots__day {
    text-align: left !important;
    align-self: center;
    margin-bottom: 0 !important;
  }
  .allslots .scheduled_slots__hospital {
    margin-bottom: 0 !important;
  }
  .allslots .scheduled_slots__time {
    margin-bottom: 0 !important;
    margin-top: 1rem;
  }

  form {
    display: block;
  }

  .time-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .time-slots .slot_container {
    margin: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem !important;
  }
  .time-slots .slot_container--disabled {
    opacity: 0.5;
  }
}
@media (min-width: 1025px) {
  .time-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .buttons button {
    padding: 0.5rem 1rem !important;
  }
}/*# sourceMappingURL=schedule_appointment.css.map */