@import "./theme.css";

#nav-bar{
display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}
.logo{
    width: 8rem;
    padding-left: 0;
   margin: 0;
}
.fa-bars{
  color: var(--text-gray);
}
.find{
    background-color: var(--bg-light-blue);
}
input {
    width: auto;
    border: 1px solid var(--bg-light-blue);
}
form{
    flex-direction: column;
    position: relative;
    bottom: 1rem;
}
.btn{
    background-color: var(--dark-blue);
    color: var(--text-white);
    width: 8rem;
    align-self: center;
    border: 1px solid var(--dark-blue);
}
#cities{
    padding: 0.75rem 3rem 0.75rem 2rem;
}
form .fa-map-marker-alt {
    position: absolute;
    left: 1rem;
    top: 2rem;
}
.fa-crosshairs::before {
    position: relative;
    top: 2rem;
    left: 92%; 
}
.fixcons, .fixcons:focus{
    background-color: white;
    width:95%;
    padding: 0;
    border-radius: 0.75rem;
    margin-bottom: 0.7rem;
}
.fixcons:focus{
    border: 2px solid var(--dark-blue);
}
.fixcons{
    border: 2px solid var(--inactive);
}
.fixcons h3, .fixcons:focus h3{
    text-align: left ;
    margin-left: 1rem;
}
#fixc{
    font-size: 20px;
}
.fixcons h3 {
    color: var(--inactive);
}
.fixcons:focus h3 {
    color:var(--dark-blue);
}
.number{
    color: var(--inactive);
}
.fixcons:focus h3 .number{
    color: var(--text-blue);
}
.doctors{
    background-color:var(--dark-blue);
    
}
.doctors h2, .doctors p {
    color: var(--text-white);
    margin: 1rem 0;
}
figure{
    background-color: white;
    margin-bottom: 1rem;
    padding: 0;
}
figcaption{
    color: var(--text-blue);
    margin: 0.3rem 0;
}
figcaption::before{
    content:"\2500";
    margin-right: 0.9rem;
    font-size: 1.5rem;
    font-weight: 900;
}
.pagination{
    display: none;
}

.doctors_bio{
    box-shadow: 0 0.3rem var(--bg-light-blue) ;  
}
.doctors_bio img{
    height: 100vw;
}
.image{
   height: 90vw;
}
.treatments{
    position: relative;
}
.mad_trit h2{
    margin: 1rem 0;
}
.details{
    position: absolute;
    bottom: 0rem;
    background: var(--bg-grd);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding:  1rem 0;
}
.details h5,.details p{
 color: white;
 text-align: start;
 justify-items: end;
 margin: 0.2rem auto 0 1rem;
}
.services{
    background-color: var(--bg-light);
    color: var(--dark-blue);
}
.service-icons{
    display: flex;
    flex-wrap: wrap;
    padding:0;
}
.service-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : 0.5rem 0;
    
}
.icons1 {
    width:9.75rem; 
    margin-bottom: 0.6rem;
    border-radius: 1rem;
    height: 7rem;
}
.icons1 img{
    width: 50%;
    height: 50%;
    margin: 10% 25% 0 25%;
}
.icons1 h6{
    margin: 0.5rem;
}
.help{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light-blue);
    padding-bottom: 2rem;
}
.help h2{
    color:white;
}
.btns{
    background-color: var(--text-blue);
    color: var(--btn-text);
    font-weight: 800;
    border: 1px solid var(--text-blue);
    border-radius: 0.25rem;
    margin: auto 25%;
}
footer{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
footer figure{
    background: none;
  
}
footer a {
    color: var(--text-white);
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.followus{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
footer p{
    color: var(--text-gray);
    margin: 0;
}
footer .logo {
    width: 50%;
    margin-bottom: 0;
}
.followus {
    padding: 0;
}
.lastline{
    padding: 0.3rem;
    background-color: var(--text-blue);
}
@media (min-width: 768px) and (max-width: 1024px){
    form{
        flex-direction: row;
        padding: 1rem 0;
        position: relative;
    }
    input{
        margin:0;
    }
    button{
        margin: 0;
    }
    #cities{
       width: 20%;
       padding-right: 1.5rem;
    }
    #search{
       width: 49%;
    }
    form .fa-map-marker-alt {
        position: absolute;
        left: 2rem;
        top: 1.75rem;
    }
    .fa-crosshairs::before {
        position: relative;
        top: 0.78rem;
        left: 25vw ; 
    }

               
    .doctors{
        display: grid;
        grid-template: auto auto repeat(2,30rem)/1fr 1fr;  
        grid-gap:1rem;
    }
    .doctors h2{
        grid-area: 1/1/2/3;
    }
    .doctors p {
        grid-area: 2/1/ span 1/span 2;
    }
    .doctors h1, .doctors p   {
        color: var(--text-white);
    }
    #doctor1{
        grid-area: 3/1/span 1/span 1;
    }
    #doctor2{
        grid-area: 3/2/span 1/span 1;
    }
    #doctor3{
        grid-area: 4/1/span 1/span 1;
    }
    #doctor4{
        grid-area: 4/2/span 1/span 1;
    }
    .doctors_bio{
        height: auto;
        margin: 0;
    }
    .doctors_bio img{
        height: 75%;
    }
    .mad_trit{
        display: grid;
        grid-template-areas: 
        "head head"
        "para para"
        "treat1 treat2"
        "treat3 trat4"
        "treat5 treat6";
        height: auto;
        margin: auto;
        gap: 1rem;
    }
    .mad_trit h2{
        grid-area: head;
    }
    .mad_trit p{
        grid-area: para;   
    }
    .image{
        height: 45vw;
    }
    .treatments{
        margin: 0;
    }
    .icons1{
        width: 32%;
        height: 9rem;
    }
    .help h2{
        margin-bottom: 0;
    }
    .btns{
        width: 15rem;
        align-self: center ;
    }
    footer{
        display: grid;
        background-color: white;
        grid-template-areas: "links logo"
        "copyright socials";
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem 3rem;
      
    }
    
    footer a {
        color: var(--dark-blue);
        margin: 0.5rem;

    }
    .links{
        grid-area: links;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 0;
    }
    .followus{
        grid-area: socials;
        display: flex;
        width: 100%;
        margin-bottom: 0;
        justify-content: space-around;
        align-content: center;
    }
    footer .logo {
        grid-area: logo;
        width: 100%;
        margin: 0;
    }
    .followus {
        padding: 0;
    }
    footer p{
        color: var(--dark-blue);
        margin-left: 0.5rem;
        grid-area: copyright;
        justify-self: start;
    }
}
@media screen and (min-width: 768px) {
     
   
    .how_it_works{
        display: grid;
        height: auto;
        grid-template-columns: 45% 55%;
        grid-template-rows:  repeat(9,auto) ;
    
    }
    .how_it_works h2{
        grid-area:1/1/2/3;
    }
    .how_it_works p {
        grid-area:2/1/3/3;
    }
    #btn3{
    grid-area: 5/1/6/2 ;
    }
    #btn4{
        grid-area: 6/1/7/2;
    }
    #btn5{
        grid-area: 7/1/8/2 ;
    }
    #btn6{
        grid-area: 8/1/9/2;
    }
    #btn7{
        grid-area: 9/1/10/2;
    }
    .fixc{
        grid-row: 3/9;
        grid-column: 2/3;
        width: 40vw;
        height: 42vw;
        justify-self: center;
        padding: 0;
    } 
    .fixcons, .fixcons:focus{
        width: 100%;
        margin: 0.5rem 1rem;
        height: 4rem;
    }
    .number::after{
        content: "\00A0\00A0";
    }
    footer{
        display: grid;
        background-color: white;
        grid-template-areas: "links logo"
        "copyright socials";
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem 3rem;
        margin: 1rem ;
      
    }
    
    footer a {
        color: var(--dark-blue);
        margin: 0.5rem;

    }
    .links{
        grid-area: links;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 0;
    }
    .followus{
        grid-area: socials;
        display: flex;
        width: 100%;
        margin-bottom: 0;
        justify-content: space-around;
        align-content: center;
    }
    footer .logo {
        grid-area: logo;
        width: 100%;
        margin: 0;
    }
    .followus {
        padding: 0;
    }
    footer p{
        color: var(--dark-blue);
        margin-left: 0.5rem;
        grid-area: copyright;
        justify-self: start;
    }
}
@media screen and (min-width: 1025px) {
       #nav-bar {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
       }   
        .fa-bars{
            display: none;
            visibility: hidden;
        }
       .logo{
         width: 10rem;
         margin-left: 4rem;
        }
        .login{
            background-color: white;       
        }
        .btn1{
            border: 2px solid var(--dark-blue);
            border-radius: 0.2rem;
        }
        .navbar{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        h1,h2,p{
            text-align: start;
        }
        .find{
            background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: auto;
            padding: 7rem 5rem;
        }
        .find p {
            width: 50%;
        }
        .find form{
            width: 70%;
            flex-direction: row;
            padding: 2rem 0;
            position: relative;
        }
        input{
            margin:0;
            padding: 3rem auto;
        }
        button{
            margin: 0;
        }
        #cities{
           width: 20%;
           padding-right: 1.5rem;
        }
        #search{
           width: 40%;
        }
        form .fa-map-marker-alt {
            position: absolute;
            left: 2rem;
            top: 2.7rem;
        }
        .fa-crosshairs::before {
            position: relative;
            top: 0.78rem;
            left: 16vw ; 
        }
        .fixcons, .fixcons:focus{
            width: 80%;
            margin: 0.5rem 1rem;
            height: 6.5rem;
            border-radius: 0.5rem;
        }
        .fixc p{
            text-align: center;
        }
        .doctors{
            display: grid;
            grid-template: auto auto 27rem auto / 1fr 1fr 1fr 1fr;  
            width: auto;
            height: auto;
            grid-gap:1rem;
        }
        .doctors h2{
            grid-area: 1/1/2/span 4;
        }
        .doctors p {
            grid-area: 2/1/ span 1/span 4;
            
        }
        #doctor1{
            grid-area: 3/1/span 1/span 1;
        }
        #doctor2{
            grid-area: 3/2/span 1/span 1;
        }
    
        #doctor3{
            grid-area: 3/3/span 1/span 1;
        }
        #doctor4{
            grid-area: 3/4/span 1/span 1;
        }
        .doctors_bio{
             height:auto;  
        }
        .doctors_bio img{
            width: 100% ;
            height: 70%;
            object-fit: cover;
        }
         .pagination{
            display:flex;
        }
        .dot {
            margin: 0.2rem;
            border-radius: 50%;
            border: 4px solid var(--dark-blue);
            padding: 0;
            width: 0.5rem;
            height: 0.5rem;
            grid-area: 4/1/span 1/span 1;
            background-color: var(--bg-light);
            
          }
          .dot:active{
            background-color:var(--dark-blue);
            border: 4px solid var(--text-blue);
          } 
           .treatments{
            width: 100%;
            height: 100%; 
            justify-content:end;
        }
        .mad_trit{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: auto;
            grid-template-rows: auto auto repeat(16, 2.5rem) auto ;
            gap: 1rem;
            width: auto;
           
    
        }
        .mad_trit h2{
            grid-area: 1/1/span 1/span 3 ;
           
        }
        .mad_trit p{
            grid-area: 2/1/span 1/span 3;
        }
        .image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #treat1{
           grid-area: 3/1/span 5/span 1;
        }
        #treat2{
            grid-area: 3/2/span 8/span 1;
        }
        #treat3{
            grid-area: 3/3/span 7/span 1;
        }
        #treat4{
            grid-area: 8/1/span 11/span 1;
        }
        #treat5 {
            grid-area: 11/2/span 8/span 1;
        }
        #treat6 {
            grid-area: 10/3/span 9/span 1;
        }
        .dot1 {
            border: 4px solid var(--text-white);
            grid-area: 19/1/span 1/span 3;
            background-color: var(--text-gray);
            
          }
          .dot1:active{
            background-color:var(--text-white);
            border: 4px solid var(--text-blue);
          } 
        .service-icons{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }
        .icons1{
            background-color: white;
            width: 16.5%;
            height: 12rem;
            border-radius: 0;
        }
        .icons1 h6{
            color: var(--text-gray);
        }

        .help{
            display: grid;
            grid-template-areas: 
            "help1  btn"
            "p  btn";
            grid-template-columns: 75% 25%;
        }
        .help h2{
            grid-area: help1 ;
        }
        .help button{
            grid-area: btn;
            margin: 1.7rem 0 ;
            font-size: 1.2rem;
        
        }
        .help p {
            grid-area: p;
        }

        footer{
            padding: 2rem 4rem;
        }
        footer p {
            font-family:sans-serif;
            font-weight: 200;
        }
        footer .logo{
            width: 80%;
            margin-left: 10%;
        }
}